In [112]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [113]:
import pandas as pd
data= pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [114]:
x=data[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']]

In [115]:
y=data['Outcome']

In [116]:
x.head()

   Glucose  BloodPressure  SkinThickness  Insulin   BMI
0      148             72             35        0  33.6
1       85             66             29        0  26.6
2      183             64              0        0  23.3
3       89             66             23       94  28.1
4      137             40             35      168  43.1

In [117]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [121]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=5)

In [122]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(477, 5)
(318, 5)
(477,)
(318,)

In [131]:
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)

In [132]:
x_train

     Glucose  BloodPressure  SkinThickness  Insulin   BMI
115      136             70             32      110  37.1
773      147             94             41        0  49.3
189      114             80             34      285  44.2
116      107             68             19        0  26.5
326      112             72              0        0  23.6
..       ...            ...            ...      ...   ...
73       146             56              0        0  29.7
400      105             58             40       94  34.9
118      123             80             15      176  32.0
701       91             82              0        0  35.6
206      130             82              0        0  39.1

[477 rows x 5 columns]

In [148]:
logreg.predict([[136,70,32,95,30]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [149]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [150]:
results=confusion_matrix(y_test,y_pred)
print(results)

[[187  26]
 [ 44  61]]

In [151]:
print('Accuracy score:',accuracy_score(y_test,y_pred))

Accuracy score: 0.779874213836478